.App-header {
  background-color: #282c34;
  height: 100vh;
}


.createBox {
  background-color: crimson;
  width: 26%;
  border: 2px solid darkorange;
  padding: 30px;
  height: 80vh;
  margin: 0px auto;
  top: 22px;
  position: relative;
}