.inputBox{
    position: absolute;
    top: 30px;
    left: 30px;
    border: 1px solid black;
    border-radius: 7px;
    right: 0;
    padding: 7px;
    width: 180px;
}
.buttonBox{
    background-color: blue;
    color: white;
    position: absolute;
    top: 30px;
    left: 230px;
    border: 1px solid black;
    border-radius: 7px;
    right: 0;
    padding: 7px;
    width: 50px;

}
.generatedList{
    position: relative;
    color: yellow;
    border: 1px solid black;
    background-color: black;
    border-radius: 7px;
    padding: 15px;
    width: 200px;
    
}
